<nav class="Nav">
  <ol class="Nav-list">
    <li class="Nav-item"><a href="#">Getting Started</a></li>
    <li class="Nav-item"><a href="#">Configuring HTML Inspector</a></li>
    <li class="Nav-item"><a href="#">Built-in Rules</a></li>
    <li class="Nav-item"><a href="#">Writing Your Own Rules</a></li>
    <li class="Nav-item"><a href="#">Overriding Rules Configurations</a></li>
    <li class="Nav-item"><a href="#">Custom Builds</a></li>
    <li class="Nav-item"><a href="#">Running the Tests</a></li>
    <li class="Nav-item"><a href="#">Contributing</a></li>
    <li class="Nav-item"><a href="#">What's Next</a></li>
  </ol>
</nav>